body{
  background-color: #EDE9E8; 
  font-family: 'Montserrat', sans-serif; 
}
h2, h3, h4, h5, h6, p{
  line-height: 1.5;
}
h1,h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}
.btn:focus{
  box-shadow: none;
}
.carousel-indicators [data-bs-target]{
  background-color: #19181a;
  height: 4px;
}
.pass-w, .pass-w1, .pass-w2 {
  border-right: 0;
}
.p-eye, .p-eye:hover,.p-eye1, .p-eye1:hover,.p-eye2, .p-eye2:hover {
  border-color:  #0d6efd;
  border-left:0;
}
.login-hr{
  min-width: 100%;

}
.fb-color, .fb-color:hover{
  background-color: #4267B2;
  color: white;
}
.fb-color-dark,.fb-color-dark:hover{
  background-color: #2b4a8a;
  color: white
}
.google-color, .google-color:hover {
  background-color: #DB4437;
  color: white
}
.google-color-dark, .google-color-dark:hover{
  background-color: #a53429;
  color: white
}
.tweep-color, .tweep-color:hover{
  background-color:#1DA1F2;
  color: white
}
.tweep-color-dark, .tweep-color-dark:hover{
  background-color:#1481c5;
  color: white
}
.login-links{
  text-decoration: none;
}
.login-links:hover{
  text-decoration: underline;
}

/******************************************** Navbar section ***************************/
.brand-name{
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
.tech-span{
  color: #0d6efd;
  margin-right: 1px;
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.nav-link:hover{
  color:#0d6efd;
}
.here{
  text-decoration: none;
}
.nav-btn1{
  margin-right: 10px;
}

/*********************** Home section ***************************/
.Home-section{
  background-color: #19181a;
  padding: 0 0 3rem;
}
.Home-section h1, .Home-section p{
  color: #EDE9E8;
}
h1{
  
  font-size: 3rem;
  text-align: center;
}
.Home-section p{
  text-align: center;
  font-size: 1.1rem;
}
.home-btns{
  border-radius: 30px;
}

/*************** Features section*******************************/
.feature-section{
 padding-top: 4rem ;
}
hr{
  max-width: 10%;
 
}
.feature-section h2{
  font-size: 2rem;
}
.feature-section p{
  font-size: 1.1rem;
}

/******************************pricing-products**************************/
.pricing-products{
  padding-top: 4rem;
}
.pricing-products img{
  max-width: 25vh;
}
.cp-img {
  max-width: 20vh;
}
.card {
  border-color: #add8e6;
  border-width: 2px;
  width: 20rem;
  padding: 1rem;
  border-radius: 50px;

}
.mid-card {
  border-color:#0d6efd;
  border-width: 2px;
  position: relative;
}
.card:hover{
  border-width: 2px;
  box-shadow: 5px 5px 5px #5d9eff;

}
.productCarousel{
  padding-bottom: 3rem;
  padding-top: .5rem;
}
.product-img{
  max-width: 20vh;
}

.brand-product{
  position: absolute;
  top: 15px;
  left: 25px;
}
.new-badge{
  position: absolute;
  top: 15px;
  right: 25px;
}
.discount-badge{
  position: absolute;
  top: 15px;
  right: 70px
}
/************************ Testimonial section *******************/
.testimonails-section{
  padding-top: 4rem;
}
.testimonial-image {
  border-radius: 100%;
  width: 10rem;
  
}
.testimonial-text{
  text-align: center;
}

.test-car{
    padding: 1rem 1rem 5rem;
}
.sub-btn, .form-control{
  border-radius: 25px;
  border-color: #0d6efd;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color:#0d6efd;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.test-id{
  text-align: center;
}

/************************ footer */
footer{
  background-color: #add8e6;
  padding:4rem 0;
  font-size:1rem;
}
.Copyright{
  background-color: #19181a;
  color: #EDE9E8;
  font-size: .7rem;
}
#contact p, #contact a{
  font-size: small;
}

.link-dark:hover{
  color: #1DA1F2;
}

/**********************Medium screen query  */

@media (max-width:990px) {
  .my-offcanvas{
    max-width: 70%;
  }
}
@media (max-width:480px) {
  .offcanvas-body{
    text-align: center;
  }
  
}

/**********************large screen query  */
@media (min-width:992px) {
  .feature-section li{
    font-size: 1.2rem;
  }
  
}

@media (min-width:576px) {
  h1{
  
    font-size: 3rem;
    text-align: left;
  }
  .Home-section p{
    text-align: left;
    font-size: 1.1rem;
  }
  .testimonial-text{
    text-align: left;
  }
}
@media (min-width:1200px) {
  nav{
    font-size: 1.1rem;
  }
  .nav-btn{
    font-size: 1.1rem;
  }
  h1{
  
    font-size: 4rem;
    text-align: left;
  }
  .Home-section p{
    text-align: left;
    font-size: 1.5rem;
  }
  .testimonial-text{
    text-align: left;
  }

  .feature-section p{
    font-size: 1.3rem;
  }
  .feature-section li{
    font-size: 1.5rem;
  }
  .testimonial-text{
    font-size: 1.3rem;
  }
  .card{
    width: 25rem;  
  }
  
  footer{
    font-size: 1.2rem;
  }
}
@media (min-width:1400px) {
  nav{
    font-size: 1.2rem;
  }
  .nav-btn{
    font-size: 1.2rem;
  }
  h1{
  
    font-size: 4.2rem;
    text-align: left;
  }
  .Home-section p{
    text-align: left;
    font-size: 1.6rem;
  }
  .testimonial-text{
    text-align: left;
  }

  .feature-section p{
    font-size: 1.5rem;
  }
  h2, h3{
    font-size: 2.5rem;
  }
  .feature-section li{
    font-size: 1.5rem;
  }
  .testimonial-text{
    font-size: 1.5rem;
  }
  td{
    font-size: 1.3rem;
  }
  footer{
    font-size: 1.2rem;
  }
}
